<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>ads</title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="lib/intl-tel-input/build/css/intlTelInput.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
 <link href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet">

</head>

<body ng-app="ads">

<ion-nav-bar class="bar nav-title-slide-ios7 nav-bar-style">

  <ion-nav-buttons side="left">
    <button class="button nav-but-style" ng-click="panel()">
        <i class="icon ion-drag nav-but-style"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button nav-but-style"  ng-click="faqShow()">
        <i class="icon ion-help nav-but-style"></i>
    </button>
  </ion-nav-buttons>
</ion-nav-bar>

<ion-nav-view ></ion-nav-view>

<script id="image-modal.html" type="text/ng-template">
  <div class="modal image-modal transparent" ng-click="closeModal()">
    <ion-header-bar>
      <h1 class="title" style="color: black;"> <span ng-if="modalId">Ad ID:{{modalId}}</span>
        <span ng-if="countdown">You need to look for another:{{countdown}} seconds</span></h1>
    </ion-header-bar>
    <ion-pane class="transparent">
      <img ng-src="{{source}}" class="fullscreen-image"/>
    </ion-pane>
  </div>
</script>

<script id="image-status-modal.html" type="text/ng-template">
  <div class="modal image-modal transparent">
    <ion-pane class="transparent">
           <img id="status-image" class="fullscreen-image"/>
    </ion-pane>
  </div>
</script>

<script id="sign-in.html" type="text/ng-template">
  <ion-view title='<img class="title-image" src="img/logo.png" />'>

    <ion-content scroll="false" style="padding-top:5px;background: #e7eaf3;">

   <form name="myForm" novalidate>
      <div class="list ">
        <label class="item item-input  validated rounded">
        <span class="input-label blue-field-in">Login</span>
        <input type="text" class="blue-field-in" name="login" ng-model="user.login" required>
        </label>

        <label class="item item-input validated rounded">
        <span class="input-label blue-field-in">Password</span>
        <input class="blue-field-in" type="password" name="password" ng-model="user.password" ng-minlength="6" ng-pattern="word" required>
        </label>

      </div>
    </form>
    <div class="login-buttons">
      <button class="button button-mid" ng-click="submit()">
       Log In
      </button>
      <p><a href="#/forgot-password">Forgot password?</a></p>
      <p><a href="#/registration">Registration</a></p>
      <p>or</p>
      <button class="button  button-mid" ng-click="signIn()">
        <i class="icon ion-social-facebook"></i>
        &nbsp;Login with Facebook
      </button>
    </div>
    </ion-content>
    </ion-view>
    </script>

<script id="forgot-password.html" type="text/ng-template">
  <ion-view title='<img class="title-image" src="img/logo.png" />'>
        <ion-content padding="true">
          <div class="list" style="padding-top:50px; text-align: center;">
            <h3>Enter email</h3>
            <label class="item item-input bgt-background">
              <input type="text" ng-model="email">
            </label>
            <div style="text-align: center;padding-top:20px;">
              <button class="button  button-positive" ng-click="request(email)">
                Request password
              </button>
              <p class="padding">
              <a href="#/sign-in">Sign-In</a>.
            </p>
            </div>
          </div>

        </ion-content>
    </ion-view>
    </script>

<script id="panel.html" type="text/ng-template">
  <ion-view title='<img class="title-image" src="img/logo.png" />'>
    <ion-content padding="true">
      <div class="list list-panel">
        <div class="sign" ng-click="viewProfile()">My Data</div>
        <div class="sign" ng-click="viewInvited()">People invited by me</div>
        <div class="sign">Action history</div>
        <div class="sign">Support</div>
        <div class="sign" ng-click="faqShow()">FAQ</div>
        <div class="sign" ng-click="logout()">Logout</div>
      </div>
    </ion-content>
  </ion-view>
</script>

<script id="change-password.html" type="text/ng-template">
  <ion-view title='<img class="title-image" src="img/logo.png" />'>
    <ion-content padding="true">
      <form name="change" ng-submit="change.$valid && submit()"novalidate>
      <div class="list" style="padding-top:50px; text-align: center;">

        <label class="item item-input validated bgt-background">
          <input type="password" placeholder="Old password" name="oldPassword" ng-model="user.oldPassword" ng-minlength="6" ng-pattern="wordPattern" required>
        </label>
        <label class="item item-input validated bgt-background">
          <input type="password" placeholder="New password" name="password" ng-model="user.password" ng-minlength="6" ng-pattern="wordPattern" required>
        </label>
        <label class="item item-input validated bgt-background">
          <input ng-model="user.passwordConfirm" placeholder="Confirm password" type="password" data-match="user.password" name="confirmPassword" />
        </label>
        <div style="text-align: center;padding-top:20px;">
          <button class="button  button-positive" type="submit">
           Submit
          </button>
        </div>
      </div>
      </form>

    </ion-content>
  </ion-view>
</script>

<script id="registration.html" type="text/ng-template">
  <ion-view title='<img class="title-image" src="img/logo.png" />'>
    <ion-content padding="true">
        <form style="padding-top:10px;padding-bottom: 10px;" name="myForm" novalidate>
        <div class="list ">
          <div class="item item-input validated form-rounded-fields">
            <span class="input-label blue-field-in">First name</span>
            <input  class="form-rounded-fields validate-checkmark" type="text" name="firstname"
                    ng-model="user.firstName"
                    ng-pattern="namePattern" required>
          </div>
          <div style="text-align: center;">
            <p class="help-block" ng-if="myForm.firstname.$dirty && !myForm.firstname.$pristine && myForm.firstname.$error.required">Required</p>
            <p class="help-block" ng-if="myForm.firstname.$error.pattern">Allowed: a-z,A-Z</p>
          </div>
          <div class="item item-input validated form-rounded-fields">
          <span class="input-label blue-field-in">Last name</span>
          <input  class="form-rounded-fields validate-checkmark" type="text" name="lastname"
                  ng-model="user.lastName" ng-pattern="namePattern"
                  required>
          </div>
          <div style="text-align: center;">
            <p class="help-block" ng-if="myForm.lastname.$dirty && !myForm.lastname.$pristine && myForm.lastname.$error.required">Required</p>
            <p class="help-block" ng-if="myForm.lastname.$error.pattern">Allowed: a-z,A-Z</p>
          </div>
          <div class="item item-input validated form-rounded-fields">
            <span class="input-label blue-field-in">Login</span>
            <input  class="form-rounded-fields validate-checkmark" type="text" name="username"
                    data-route="checkUsername"
                    ng-model="user.username"
                    ensure-unique ng-pattern="wordPattern" required>
          </div>
          <div style="text-align: center;">
            <p class="help-block" ng-if="myForm.username.$error.unique">Already taken</p>
            <p class="help-block" ng-if="myForm.username.$error.pattern">The user's name isn't valid</p>
            <p class="help-block" ng-if="myForm.username.$dirty && !myForm.username.$pristine && myForm.username.$error.required">Required</p>
          </div>

            <div class="item item-input validated form-rounded-fields">
                <span class="input-label blue-field-in">Email</span>
                <input  class="form-rounded-fields validate-checkmark" type="text" name="email"
                        ng-model="user.email"
                        ng-pattern="emailPattern"
                        data-route="checkEmail"
                        ensure-unique required>
            </div>
            <div style="text-align: center;">
              <p class="help-block" ng-if="myForm.email.$error.unique">Already taken</p>
              <p class="help-block" ng-if="myForm.email.$error.pattern">The email isn't valid</p>
              <p class="help-block" ng-if="myForm.email.$dirty && !myForm.email.$pristine && myForm.email.$error.required">Required</p>
            </div>
            <div class="item item-input validated form-rounded-fields">
                <span class="input-label blue-field-in">Password</span>
                <input  class="form-rounded-fields validate-checkmark"
                        type="password" name="password"
                        ng-model="user.password"
                        ng-minlength="6"
                        ng-pattern="wordPattern"
                        required>
            </div>
            <div style="text-align: center;">
              <p class="help-block" ng-if="myForm.password.$error.minlength">Too short</p>
              <p class="help-block" ng-if="myForm.password.$error.pattern">Allowed: 0-9,aA-zZ</p>
              <p class="help-block" ng-if="myForm.password.$dirty && !myForm.password.$pristine && myForm.password.$error.required">Required</p>
            </div>
            <div class="item item-input validated form-rounded-fields">
                <span class="input-label blue-field-in">Confirm</span>
                 <input  class="form-rounded-fields validate-checkmark"
                         ng-model="user.passwordConfirm"
                         type="password"
                         data-match="user.password"
                         name="confirmPassword"
                         required/>
            </div>
            <div style="text-align: center;">
              <p class="help-block" ng-if="myForm.confirmPassword.$error.match">Doesn't match</p>
              <p class="help-block" ng-if="myForm.confirmPassword.$dirty && !myForm.confirmPassword.$pristine && myForm.confirmPassword.$error.required">Required</p>
            </div>
          <div class="item item-input validated form-rounded-fields">
            <span class="input-label blue-field-in">Telephone</span>
           <input class="form-rounded-fields validate-checkmark"
                  type="tel"
                  ng-model="user.phone"
                  name="phone"
                  data-route="checkPhone"
                  ng-minlength="8"
                  ng-maxlength="12"
                  ensure-unique
                  placeholder="_(__)___-___"
                  required>
          </div>
          <div style="text-align: center;">
            <p class="help-block" ng-if="myForm.phone.$error.minlength">Min length: 8</p>
            <p class="help-block" ng-if="myForm.phone.$error.maxlength">Max length: 12</p>
            <p class="help-block" ng-if="myForm.phone.$dirty && myForm.phone.$error.unique">Already taken</p>
            <p class="help-block" ng-if="myForm.phone.$dirty && !myForm.phone.$pristine && myForm.phone.$error.required">Required</p>
          </div>
          <!--<div class="item item-input form-rounded-fields">
            <span class="input-label">Telephone</span>
          <input  class="form-rounded-fields" style="background-color: transparent;  width:100%;" ng-keyup="checkPhone()" type="tel" id="mobile-number"  ng-model="user.phone" required>
          </div>-->
          <div class="item item-input form-rounded-fields" >
            <span class="input-label blue-field-in">Referrer ID</span>
            <input  class="form-rounded-fields" ng-model="user.referrer" type="text"  ng-keyup="checkRef()" name="referrer"/>
          </div>
          <div class="item item-input form-rounded-fields ">
            <span class="input-label blue-field-in">Referrer name</span>
            <input  class="form-rounded-fields" type="text" ng-disabled="true" ng-model="refName"/>
          </div>

        </div>
          <div class="login-buttons">
            <button class="button button-mid" ng-disabled="myForm.$invalid"  ng-click="submit()">
              Submit
            </button>
          </div>
        </form>


    </ion-content>
    </ion-view>
    </script>

<script id="faq.html" type="text/ng-template">
  <ion-view title='<img class="title-image" src="img/logo.png" />'>
    <ion-content padding="true">
      <div class="card card-blue">
        <div class="item item-text-wrap" style="color:#034970; text-align: center;">
          <h1 style="color:#034970;">FAQ</h1>
          <div ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">{{faqText}}</div>
        </div>
      </div>
    </ion-content>
    </ion-view>
</script>

<script id="home.html" type="text/ng-template">
  <ion-view title='<img class="title-image" src="img/logo.png" />'>
    <ion-content padding="false">

      <div class="card" style="padding: 0;margin: 0;">
        <div class="item list-categories" ng-repeat="i in category" ng-style="{'z-index':10-$index};" ng-click="getCategoryVideos(i)">
          <span class="list-categories-name">{{i.name}}</span>
        </div>
      </div>

      <div ng-if="video">
        <video id="vidHome" height="240" width="320" controls ng-src="{{ source }}" type="video/mp4" ng-cloak>
        </video>
      </div>
    </ion-content>
    </ion-view>
    </script>

<script id="card.html" type="text/ng-template">
  <ion-view title='<img class="title-image" src="img/logo.png" />'>
    <ion-content padding="true">
<form name="myForm" novalidate>
      <div class="list" ng-if="ch">    <!-- method exist  ==='PayPal'-->

        <div class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="descr" required>
        </div>
        <div class="item item-input">
          <span class="input-label">Type</span>
          <select ng-model="type" ng-options="payment.type for payment in payments" required>
          </select>
        </div>
        <button class="button button-block button-positive" ng-click="update(descr,type)">
          Update payment information
        </button>
      </div>

      <div class="list" ng-if="!ch">
        <div class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="descr" required>
        </div>
        <div class="item item-input">
          <span class="input-label">Type</span>
          <select ng-model="type" ng-options="payment.type for payment in payments" required></select>
        </div>
        <button class="button button-block button-positive" ng-disabled="myForm.$invalid" ng-click="send(descr,type)">
          Update payment information
        </button>
      </div>
</form>
      <a style="margin-top:50px;"class="button icon-left ion-chevron-left button-clear button-dark" ng-click="back()">Back</a>
    </ion-content>
    </ion-view>
    </script>

<script id="withdraw.html" type="text/ng-template">
  <ion-view title='<img class="title-image" src="img/logo.png" />'>
    <ion-content padding="true">


      <div class="list list-inset">

        <div class="item">
          Current earnings :{{balance|currency}}
        </div>
        <div class="item">
          Last withdraw: <ul class="list"><li class="item" ng-repeat="item in lastPayments">{{item.time}} with {{item.type}} amount:{{item.amount}} status:{{item.status}} </li></ul>
        </div>
        <div class="item" ng-if="notification">
          Status: {{notification}}
        </div>
      </div>
      <form name="myForm" novalidate>
      <label class="item item-input">
        <span class="input-label">To withdraw:</span>
        <input type="number" ng-model="with.amount" name="amount" min="0.00" max="{{balance}}" step="0.01">
      </label>
      <button class="button button-block button-positive" ng-disabled="block" ng-click="withdraw()">
        Withdraw
      </button>
        </form>
      <a style="margin-top:50px;"class="button icon-left ion-chevron-left button-clear button-dark" ng-click="back()">Back</a>
    </ion-content>
  </ion-view>
</script>

<script id="finance.html" type="text/ng-template">
  <ion-view title='<img class="title-image" src="img/logo.png" />'>
    <ion-content padding="true">

      <div class="list list-inset">
        <div class="item item-divider" style="text-align:center;">
          {{text}}
        </div>
        <div class="item">
          Current Earnings: {{curr_ammount | currency}}
        </div>

        <div class="item">
         Earned in this month: {{monthly_amount | currency}}
        </div>

        <div class="item">
          Earned in this year: {{annual_amount | currency}}
        </div>
        <div class="item">
          All time: {{till_amount | currency}}
        </div>

      </div>

      <a style="margin-top:50px;"class="button icon-left ion-chevron-left button-clear button-dark" ng-click="back()">Back</a>
    </ion-content>
  </ion-view>
</script>

<script id="facebook.html" type="text/ng-template">
  <ion-view title='<img class="title-image" src="img/logo.png" />'>
    <ion-content padding="true">

    </ion-content>
  </ion-view>
</script>

<script id="my-offers.html" type="text/ng-template">
  <ion-view title='<img class="title-image" src="img/logo.png" />'>
    <ion-content data-tap-disabled="true" padding="true">
      <div class="sign click_resize" style="height:90px;background: #f7f8fd;" ng-click="viewMmedia()">
        <div class="" style="position: relative;" >
          <img style="position: absolute;top:5px;left:5px;" height="60" width="60" src="img/earnup-round.png"/>
          <p style="padding-top: 20px;padding-left:20px;">Mmedia</p>
        </div>
      </div>
      <div class="sign click_resize" style="height:90px;background: #f7f8fd;"  ng-click="viewRandom()">
        <div class="" style="position: relative;">
          <img style="position: absolute;top:5px;left:5px;" height="60" width="60" src="img/earnup-round.png"/>
          <p style="padding-top: 20px;padding-left:20px;">Random list</p>
        </div>
      </div>
      <div class="sign click_resize" style="height:90px;background: #f7f8fd;" ng-click="viewAdmob()">
        <div class="" style="position: relative;" >
          <img style="position: absolute;top:5px;left:5px;" height="60" width="60" src="img/earnup-round.png"/>
          <p style="padding-top: 20px;padding-left:20px;">Example example</p>
        </div>
      </div>
    </ion-content>
  </ion-view>
</script>

<script id="new.html" type="text/ng-template">
  <ion-view title='<img class="title-image" src="img/logo.png" />'>
    <ion-content scroll="false">
      <div class="row" data-tap-disabled="true" style="height:50%;">
        <div ng-click="viewOffers()" class="top-left-block click_anim" style="">
          <span style="position: absolute;top: 25%;left: 13%;font-size: 30px;text-align: center;">
            <p>My</p>
            <p>Offers</p>
          </span>
        </div>
        <div  ng-click="viewRedeem()" class="top-right-block click_anim">
          <span style="position: absolute;top: 39%;right: 13%;font-size: 30px;text-align: center;">Redeem</span>
        </div>
      </div>

      <div class="row" data-tap-disabled="true" style="height:20%;position: absolute;">
        <div class="col"></div>
        <div  class="col col-50 mid-right-block ">
          <span class="image-earnup"  style="position: absolute;top: 34%;right: 5%;font-size: 12px;width: auto;">
            {{balance | number:2}}
          </span>
        </div>
      </div>

      <div class="row" data-tap-disabled="true" style="height:40%;">
        <div ng-click="viewAds()" class="bottom-left-block click_anim">
          <span style="position: absolute;top: 44%;font-size: 30px;left: 10%;text-align: center;">
            <p>My</p> <p>Videos</p>
          </span>
        </div>
        <div ng-click="viewInvite()" class="bottom-right-block click_anim">
          <span style="font-size: 30px;text-align: center;position: absolute;top: 29%;right: 11%;text-align: center;">
            <p>Invite</p><p>Friends</p>
          </span>
        </div>
      </div>

      <div data-tap-disabled="true"  class="counter-above-photo click_anim" ng-click="viewRef()">{{refCount}}</div>
      <img data-tap-disabled="true" class="gift-image click_anim" src="img/gift-button.png" ng-click="viewPresents()"/>
      <img data-tap-disabled="true" class="mid-circle click_anim" ng-src="{{photoRestored}}" ng-click="viewProfile()"/>
      <div class="mid-circle-background"></div>
    </ion-content>
  </ion-view>
</script>

<script id="ref.html" type="text/ng-template">
  <ion-view title='<img class="title-image" src="img/logo.png" />'>
    <ion-content padding="true">
      <div ng-if="source.length>=1">
        <div class="row" ng-repeat="i in source">
          <div class="form-rounded-fields invited blue-field-in col col-90 text-center" ng-if="i.first_name">{{i.first_name}} {{i.last_name}}</div>
          <div class="form-rounded-fields invited  blue-field-in col col-90 text-center" ng-if="!i.first_name">Anonymous</div>
          <div class="form-rounded-fields invited col">
            <img ng-if="i.description.indexOf('Silver')>-1" src="img/silver.png"/>
            <img ng-if="i.description.indexOf('Bronze')>-1" src="img/bronze.png"/>
            <img ng-if="i.description.indexOf('Gold')>-1" src="img/gold.png"/>
          </div>
        </div>
      </div>
    <div class="card" ng-if="source.length==0">
      <div class="item item-text-wrap">
        Sorry, nobody invited by you
      </div>
    </div>
    </ion-content>
  </ion-view>
</script>

<script id="home-selected.html" type="text/ng-template">
  <ion-view title='<img class="title-image" src="img/logo.png" />'>
    <ion-content data-tap-disabled="true" padding="true">
    <ion-slide-box show-pager="true" on-slide-changed="change(index)">
      <ion-slide ng-repeat="i in [1,2,3]" >
          <div class="box click_resize" ng-repeat="item in data | limitTo:pageSize">
              <div class="boxInner click_resize">
                  <a ng-click="show($index+currentPage*pageSize)">
                    <img ng-src={{data[$index+currentPage*pageSize].thumbnail}} />
                  </a>
              </div>
          </div>
      </ion-slide>


    </ion-slide-box>
    <a style="margin-top:50px;"class="button icon-left ion-chevron-left button-clear button-dark" ng-click="backBut()">Back</a>
    </ion-content>
    </ion-view>
    </script>

<script id="selected-video.html" type="text/ng-template">
  <ion-view title='<img class="title-image" src="img/logo.png" />'>
    <ion-content padding="true">
    <div style="text-align: center;">
        <div ng-if="video">
          <video id="vid" height="240" width="320" controls ng-src="{{ source }}" type="video/mp4" ng-cloak>
            </video>
        </div>
    </div>
      <div ng-show="notShown">
        <h4>You must watch media at least {{minPlayingTime}} seconds and answer on questions to earn money</h4>
        <a style="margin-top:50px;"class="button icon-left ion-chevron-left button-clear button-dark" ng-click="backBut()">Back</a>
      </div>
      <div ng-if="questions" ng-cloak>
          <h4 class="sign" style="background: #0071bc;color:#ffffff;">{{questions}}</h4>
        <div class="list">
          <div ng-disabled="voted" class="row-center" style="margin:25px;position:relative;" ng-repeat="item in answer" ng-click="click(item['id'],$index)">
            <div class="checkbox-my"><i ng-if="clicked==$index" class="radio-icon ion-checkmark"></i></div>
            <div  style="width: 80%;margin-left: 16%;color:#1e1e1e;border-bottom: 1px solid #1e1e1e;text-align: center;">{{item['answer']}}</div>
          </div>
          <div style="color:#0071bc;text-align: center;">
            <span style="color:#f03721;">{{messageFromHitFirst}}</span>{{messageFromHit}}
          </div>
        </div>
      </div>
    </ion-content>
    </ion-view>
    </script>

<script id="settings.html" type="text/ng-template">
  <ion-view title='<img class="title-image" src="img/logo.png" />'>
    <ion-content padding="true">
    <div style="text-align:center;">
       <img src="img/ionic.png"/>
    </div>
          <button class="button button-full button-positive" ng-click="clear()">
            Clear user data
          </button>

      <div  style="text-align:center;">
        <a href="#/change-password"> Change Password</a>
      </div>
    <div class="row">
      <div class="col">
          <button class="button button-full button-assertive" ng-click="viewCard()">
              Card info</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
          <button class="button button-full button-assertive" ng-click="viewFinance()">
              Finances</button>
      </div>
      <div class="col">
          <button class="button button-full button-assertive" ng-click="viewWithdraw()">
          Withdraw</button>
      </div>
    </div>

    </ion-content>
    </ion-view>
    </script>

<script id="random-list.html" type="text/ng-template">
  <ion-view title='<img class="title-image" src="img/logo.png" />'>

    <ion-content padding="true">
      <div class="text-center">
      <button style="margin-top: 50px;" id="next-button" class="button button-positive hide" ng-click="clicked()">Show Next Ad List</button>
      </div>
    </ion-content>
  </ion-view>
</script>

<script id="mmedia-page.html" type="text/ng-template">
  <ion-view title='<img class="title-image" src="img/logo.png" />'>
    <ion-content padding="true">
    </ion-content>
  </ion-view>
</script>

<script id="presents.html" type="text/ng-template">
  <ion-view title='<img class="title-image" src="img/logo.png" />'>
    <ion-content data-tap-disabled="true" padding="true">
      <div class="list">
        <div class="form-rounded-fields item-vertical-margin" style="padding:0;" ng-repeat="i in source">
          <div class="row click_resize" style="padding:0;" ng-click="redeem(i)">
              <img class="img-presents"  ng-src="{{serv+i.image}}">
            <div class="col blue-field-in align-row-mid">{{i.name}}</div>
            <div class=" align-row-right">
              <div class="points-view image-earnup">
              {{i.price}}
              </div>
            </div>
          </div>

        </div>
      </div>
    </ion-content>
  </ion-view>
</script>


<script id="invite.html" type="text/ng-template">
  <ion-view title='<img class="title-image" src="img/logo.png" />'>
    <ion-content data-tap-disabled="true" padding="true">
      <div class="sign" style="background: #fc9e2d;">
        Invite code: {{username}}
      </div>
      <div class="sign" style="background: #f7f8fd;height:50%;">
          <textarea type="text" rows="3" ng-model="userInfo.message" style="text-align: center;color:#034970;" placeholder="Text..."></textarea>
      </div>
      <div class="sign" style="background: #f7f8fd;">
        <input type="text" ng-model="userInfo.who" style="color:#034970;text-align: center;" placeholder="mail@friend.com"/>
      </div>
      <div class="sign" style="background: #f7f8fd;">
        Invite with...
      </div>
      <div>
        <ul class="share-buttons">
          <li><img class="click_resize" src="img/fb-button.png"> </li>
          <li><img class="click_resize" src="img/twit-button.png"></li>
          <li><img class="click_resize" src="img/mail.png" ng-click="mail()"></li>
          <li><img class="click_resize" src="img/other-button.png"></li>
        </ul>
      </div>
    </ion-content>
  </ion-view>
</script>

<script id="redeem.html" type="text/ng-template">
  <ion-view title='<img class="title-image" src="img/logo.png" />'>
    <ion-content data-tap-disabled="true" padding="true">
    <div style="text-align: center;"><img class="sign" height="100" width="100" ng-src="{{serv+intention.image}}"></div>
      <div class="sign">{{intention.name}} for {{intention.price}} points</div>
      <div class="row">
        <button class="col click_resize"
                style="background: #0071bc;color:#ffffff;border-radius: 10px; border:none;margin:6px;box-shadow: 0 1px 7px #170810;"
                ng-click="choose()">Change</button>
        <button class="col click_resize"
                style="background: linear-gradient(to top, #ee2323, #f3a616);color:#ffffff;border-radius: 10px; border:none;margin:6px;box-shadow: 0 1px 7px #170810;"
                ng-disabled="block" ng-click="redeem()">Redeem</button>
      </div>
    </ion-content>
  </ion-view>
</script>

<script id="profile.html" type="text/ng-template">
  <ion-view title='<img class="title-image" src="img/logo.png" />'>
    <ion-content padding="true">
      <form name="myForm" novalidate>
      <div class="list ">

      <div class=" item-thumbnail-right">
        <img ng-src="{{photoRestored}}" id="myImg" class="img-circle" ng-click="takePic()">
        <div class="item-input form-rounded-fields">
          <input class="blue-field-in" type="text" ng-model="user.firstName" placeholder="First name...">
        </div>
        <div class="item-input form-rounded-fields">
          <input class="blue-field-in" type="text" ng-model="user.lastName" placeholder="Last name...">
        </div>
      </div>

      <div class="item item-input form-rounded-fields ">
        <span class="input-label blue-field-in">Email</span>
        <input class="blue-field-in form-rounded-fields" type="text" ng-model="user.email" ng-disabled="true" placeholder="email@email.com">
      </div>
      <div class="item item-input form-rounded-fields">
        <span class="input-label blue-field-in">Phone</span>
        <input class="blue-field-in form-rounded-fields validate-checkmark"
               type="tel"
               ng-model="user.phone"
               name="phone"
               ng-minlength="8"
               ng-maxlength="12"
               ng-blur="changed(this)"
               ensure-unique route="checkPhone" required>
      </div>
    <div class="item item-input form-rounded-fields ">
    <span class="input-label blue-field-in">Date of birth</span>
    <input type="date" class="form-rounded-fields blue-field-in" ng-model="user.date" value="{{user.date}}"/>
    </div>
      <div class="item item-input form-rounded-fields ">
        <span class="input-label blue-field-in">Sex</span>
        <select style="width:63%;" class="form-rounded-fields blue-field-in"
                ng-model="user.sex"
                ng-options="sex.name for sex in SexList">
        </select>
      </div>
    <div class="item item-input form-rounded-fields ">
        <span class="input-label  blue-field-in">Country</span>
        <select style="width:63%;" class="form-rounded-fields blue-field-in"
            ng-model="user.country" 
            ng-options="country.name for country in CountryList" ng-change="setCountry(user.country.id)">
        </select> 

    </div>
      <div class="item item-input form-rounded-fields">
        <span class="input-label  blue-field-in">City</span>
        <select style="width:63%;" class="form-rounded-fields blue-field-in"
                ng-model="user.city"
                ng-options="city.id as city.name for city in CityList">
        </select>
      </div>
      <div class="item item-input form-rounded-fields ">
        <span class="input-label  blue-field-in">Zip code</span>
        <input style="width:63%;" class="blue-field-in form-rounded-fields" ng-model="user.zip" type="number"  ng-minlength="3" required>
      </div>
      <div class="item item-input form-rounded-fields">
        <span class="input-label blue-field-in">Street</span>
        <input style="width:63%;" type="text" class="form-rounded-fields blue-field-in" ng-model="user.street" value="{{user.street}}"/>
      </div>

    <div class="item item-input form-rounded-fields ">
        <span class="input-label blue-field-in">Education</span>
       <select style="width:63%;" class="form-rounded-fields blue-field-in"
            ng-model="user.education" 
            ng-options="education.name for education in EducationList">
        </select>
    </div>

      <div class="item-input form-rounded-fields ">
        <span class="input-label blue-field-in">Profession</span>
        <select style="width:63%;" class="form-rounded-fields blue-field-in"
                ng-model="user.profession"
                ng-options="profession.name for profession in ProfessionList">
        </select>
      </div>
    <div class="item item-input form-rounded-fields ">
      <span class="input-label blue-field-in">Referrer Id</span>
      <input class="form-rounded-fields blue-field-in"
             style="background-color: transparent;  width:100%;"
             type="text" ng-model="user.referrer" ng-change="checkRef()" value="{{user.referrer}}"/>
    </div>
    <div class="item item-input form-rounded-fields ">
      <span class="input-label blue-field-in">Referrer name</span>
      <input class="form-rounded-fields blue-field-in"
             style="background-color: transparent;  width:100%;"
             ng-model="refName"
             type="text" ng-disabled="true" value="{{ref.name}} {{ref.lastname}}"/>
    </div>
    </div>


    <div style="text-align:center; margin-top:20px;">

    <button class="button button-mid" style="width:40%;" ng-disabled="myForm.phone.$dirty && myForm.phone.$error.unique" ng-click="submit()">
    SAVE
    </button>

    </div>
      </form>
    </ion-content>
    </ion-view>
    </script>
<script src="lib/ionic/js/ionic.bundle.js"></script>
<script src="lib/angular-resource.min.js"></script>
<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="lib/ui-utils.min.js"></script>
<script src="lib/intl-tel-input/build/js/intlTelInput.js"></script>
<script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
<script src="cordova.js"></script>

<script src="js/app.js"></script>
<script src="js/openfb-angular.js"></script>
<script src="js/controllers.js"></script>

</body>
</html>